body {
  background-color: #ccc;
}

.container {
  max-width: 600px;
}

header {
  position:fixed; 
  left:0px;
  top:0px;
  height:60px;
  width: 100%;
  padding: 0 20px 80px 20px;
  background-color: #ccc;
}

header h1 {
  text-align: center;
}

.commentList {
  margin-bottom: 200px;
  margin-top: 60px;
}

.comment {
  padding: 5px 15px 15px 15px;
  margin-top: 15px;
  background-color: #fff;
}

/*.commentForm {
  margin: 20px auto;
  text-align: center;
}*/

textarea[type="text"] {
    height: 100px;
}

footer {
  position:fixed; 
  left:0px;
  bottom:0px;
  height:150px;
  width: 100%;
  padding: 0 20px 0 30px;
  background-color: #ccc;
}