body {
  background-color: #f3f3f3;
}

.container {
  max-width: 650px;
}

.right {
  float: right;
  padding-top: 30px;
}

.title {
  display: inline-block;
}

/*header {
  position:fixed; 
  top:0px;
  height:60px;
  padding: 0 20px 80px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  text-align: center;
  margin: 0 auto;
}*/
header {
  position:fixed; 
  margin: 0 auto;
  left: 0px;
  height:80px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.commentList {
  margin-bottom: 200px;
  margin-top: 60px;
}

.comment {
  padding: 5px 15px 15px 15px;
  margin-top: 15px;
  background-color: #fff;
  border-radius: 2px;
}

/*.commentForm {
  margin: 20px auto;
  text-align: center;
}*/

textarea[type="text"] {
    height: 100px;
}

footer {
  position:fixed; 
  left:0px;
  bottom:0px;
  height:150px;
  width: 100%;
  background-color: #f3f3f3;
}